.container {
    text-align: center;
    margin-top: 50px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    font-size: 24px; /* 1.5 rem */
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.counter span {
    font-size: 28px;
    padding: 0 20px;
}

button:hover {
    background-color: #0056b3;
    font-size: 32px;
    transform: scale(1.05);
}

#reset {
    margin: 15px 0;
}
/* a:visited {
    color: pink;
}

a:active {
    color: red;
} */