/* .container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

label {
    text-align: center;
}

button {
    width: fit-content;
    margin: 0 auto;
} */


.container {
    margin-bottom: 20px;
}
  
  /* Apply styles to the input fields and labels */
input[type="text"],
label {
    display: block;
    margin-bottom: 10px;
}
  
  /* Apply styles to the buttons */
button {
    margin-right: 10px;
}
  
  /* Apply styles to the product list */
#productList {
    margin-top: 20px;
    list-style-type: none;
}
  
  /* Apply styles to the statistics container */
#statsContainer {
    margin-top: 20px;
}