body {
    background-color: whitesmoke;
}

.header{
    height: 400px;
    background-image: url('./Images/coffee-bgnd.jpeg');
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 100px;
    text-align: center;
}

#regions{
    font-size: xx-small;
}