.gradle
/build/classes/
/build/generated/
/build/reports/
/build/resources/
/build/tmp/


/gradle/wrapper/

gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.project
.classpath

.idea
out/
gradlew
gradlew/
*.bat
settings.gradle
*.log
*.png